/* Varibles */
*{
	--green:#30736C;
	--orange:#bf702a;
	--egg-shell:#f6ecec;
	--red:#cc260c;
	--brown:#590202;
	--font-titre:'Playfair Display', serif;
  --font-sub-title:'Montserrat Alternates', sans-serif;
  --font-text:'Montserrat Alternates', sans-serif;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1{
	font-family: var(--font-titre);
}

h2,h3,h4{
	font-family: var(--font-sub-title);
}
p{
	font-family: var(--font-text);
}

a {
	color: var(--green);
	text-decoration: none;
	font-family: var(--font-text);
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--brown);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--brown);
	background-color: var(--egg-shell);
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
